h1{
  text-align: center;
  background-color: rgb(120, 157, 120);
  z-index: 1;
}


       li{
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 20px;
  display:inline-block;
  background-color:aqua;
  text-decoration: none;

}
button{
  background-color: rgb(146, 94, 25);
}
div{
  z-index: 2;
  margin-top: 10px;
}
button{
  z-index: 2;
}
img{
  position: fixed;
  z-index: 1;
}